<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jmed">

    <application
        android:allowBackup="true"
        android:icon="@drawable/jmed"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JMED">
        <activity
            android:name=".Online"
            android:exported="false" />
        <activity
            android:name=".GameFinished"
            android:exported="false" />
        <activity
            android:name=".Jouer"
            android:exported="false" />
        <activity
            android:name=".Niveau"
            android:exported="false" />
        <activity
            android:name=".ModeDuJeu"
            android:exported="false" />
        <activity
            android:name=".ReglesDuJeu"
            android:exported="false" />
        <activity
            android:name=".Welcome"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

</manifest>